[Desktop Entry]
Name=Tilda
Exec=/usr/bin/tilda 
Icon=/usr/share/pixmaps/tilda.png
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Utility;TerminalEmulator;
