[Desktop Entry]
Categories=GTK;GNOME;Utility;Clock;
Comment[en_US]=A simple time management utility
Comment=A simple time management utility
Comment[ca]=Una senzilla utilitat de gesti\xc3\xb3 del temps
Comment[cs]=Jednoduch\xc3\xbd n\xc3\xa1stroj pro time management
Comment[de]=Ein einfaches Werkzeug f\xc3\xbcr Zeitmanagement
Comment[el]=\xce\x9c\xce\xb9\xce\xb1 \xce\xb1\xcf\x80\xce\xbb\xce\xae \xce\xb5\xcf\x86\xce\xb1\xcf\x81\xce\xbc\xce\xbf\xce\xb3\xce\xae \xce\xb4\xce\xb9\xce\xb1\xcf\x87\xce\xb5\xce\xaf\xcf\x81\xce\xb9\xcf\x83\xce\xb7\xcf\x82 \xcf\x87\xcf\x81\xcf\x8c\xce\xbd\xce\xbf\xcf\x85
Comment[es]=Una sencilla utilidad de gesti\xc3\xb3n del tiempo
Comment[fa]=\xdb\x8c\xda\xa9 \xd8\xa7\xd8\xa8\xd8\xb2\xd8\xa7\xd8\xb1 \xd9\x85\xd8\xaf\xdb\x8c\xd8\xb1\xdb\x8c\xd8\xaa \xd8\xb2\xd9\x85\xd8\xa7\xd9\x86 \xd8\xb3\xd8\xa7\xd8\xaf\xd9\x87
Comment[fr]=Un outils simple de gestion du temps
Comment[id]=Suatu utilitas simpel manajemen waktu
Comment[it]=Una semplice utility per la gestione del tempo
Comment[kk]=\xd0\xa3\xd0\xb0\xd2\x9b\xd1\x8b\xd1\x82\xd1\x82\xd1\x8b \xd0\xb1\xd0\xb0\xd1\x81\xd2\x9b\xd0\xb0\xd1\x80\xd1\x83\xd0\xb4\xd1\x8b\xd2\xa3 \xd2\x9b\xd0\xb0\xd1\x80\xd0\xb0\xd0\xbf\xd0\xb0\xd0\xb9\xd1\x8b\xd0\xbc \xd1\x83\xd1\x82\xd0\xb8\xd0\xbb\xd0\xb8\xd1\x82\xd0\xb0\xd1\x81\xd1\x8b
Comment[lt]=Paprastas laiko valdymo \xc4\xafrankis
Comment[nl]=Een simpel tijdsmanagementprogramma
Comment[pl]=Proste narz\xc4\x99dzie do zarz\xc4\x85dzania czasem
Comment[pt_BR]=Uma ferramenta simples para gerenciar o tempo
Comment[ru]=\xd0\x9f\xd1\x80\xd0\xbe\xd1\x81\xd1\x82\xd0\xbe\xd0\xb9 \xd0\xb8\xd0\xbd\xd1\x81\xd1\x82\xd1\x80\xd1\x83\xd0\xbc\xd0\xb5\xd0\xbd\xd1\x82 \xd0\xb4\xd0\xbb\xd1\x8f \xd1\x82\xd0\xb0\xd0\xb9\xd0\xbc-\xd0\xbc\xd0\xb5\xd0\xbd\xd0\xb5\xd0\xb4\xd0\xb6\xd0\xbc\xd0\xb5\xd0\xbd\xd1\x82\xd0\xb0
Comment[sv]=Ett enkelt tidshanteringsverktyg
Comment[tr]=Basit bir zaman y\xc3\xb6netimi arac\xc4\xb1
Comment[zh_CN]=\xe4\xb8\x80\xe4\xb8\xaa\xe7\xae\x80\xe6\x98\x93\xe7\x9a\x84\xe6\x97\xb6\xe9\x97\xb4\xe7\xae\xa1\xe7\x90\x86\xe5\xb7\xa5\xe5\x85\xb7
DBusActivatable=true
Exec=gnome-pomodoro
GenericName[en_US]=
GenericName=
Hidden=true
Icon=gnome-pomodoro
Icon[cs]=Pomodoro
Icon[de]=gnome-pomodoro
Icon[el]=gnome-pomodoro
Icon[id]=gnome-pomodoro
Icon[it]=gnome-pomodoro
Icon[kk]=gnome-pomodoro
Icon[lt]=gnome-pomodoro
Icon[nl]=gnome-pomodoro
Icon[pl]=gnome-pomodoro
Icon[sv]=gnome-pomodoro
Icon[zh_CN]=gnome-pomodoro
Keywords=timer;
Keywords[cs]=\xc4\x8casova\xc4\x8d;
Keywords[de]=Timer;
Keywords[el]=\xcf\x87\xcf\x81\xce\xbf\xce\xbd\xcf\x8c\xce\xbc\xce\xb5\xcf\x84\xcf\x81\xce\xbf;
Keywords[id]=timer
Keywords[it]=timer;
Keywords[kk]=timer;\xd1\x82\xd0\xb0\xd0\xb9\xd0\xbc\xd0\xb5\xd1\x80;
Keywords[lt]=laikmatis;
Keywords[nl]=timer;
Keywords[pl]=minutnik;
Keywords[sv]=tidtagare;timer;
Keywords[zh_CN]=\xe8\xae\xa1\xe6\x97\xb6\xe5\x99\xa8;
MimeType=
Name[en_US]=Pomodoro
Name=Pomodoro
Name[ca]=Pomodoro
Name[cs]=Pomodoro
Name[de]=Pomodoro
Name[el]=Pomodoro
Name[es]=Pomodoro
Name[fa]=\xd9\xbe\xd9\x88\xd9\x85\xd9\x88\xd8\xaf\xd9\x88\xd8\xb1\xd9\x88
Name[fr]=Pomodoro
Name[id]=Pomodoro
Name[it]=Pomodoro
Name[kk]=Pomodoro
Name[lt]=Pomodoro
Name[nl]=Pomodoro
Name[pl]=Pomodoro
Name[pt_BR]=Pomodoro
Name[ru]=\xd0\x9f\xd0\xbe\xd0\xbc\xd0\xbe\xd0\xb4\xd0\xbe\xd1\x80\xd0\xbe
Name[sv]=Pomodoro
Name[tr]=Pomodoro
Name[zh_CN]=\xe7\x95\xaa\xe8\x8c\x84\xe8\xae\xa1\xe6\x97\xb6\xe5\x99\xa8
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
