[Desktop Entry]
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
Comment[en_US]=
Comment=
Exec=kalarm
GenericName[en_US]=Personal Alarm Scheduler
GenericName=Personal Alarm Scheduler
GenericName[af]=Persoonlike alarm skeduleerder
GenericName[ar]=\xd9\x85\xd8\xac\xd8\xaf\xd9\x88\xd9\x90\xd9\x84 \xd8\xa7\xd9\x84\xd9\x85\xd9\x86\xd8\xa8\xd9\x91\xd9\x87\xd8\xa7\xd8\xaa \xd8\xa7\xd9\x84\xd8\xb4\xd8\xae\xd8\xb5\xd9\x8a\xd9\x91
GenericName[bg]=\xd0\x9d\xd0\xb0\xd1\x81\xd1\x82\xd1\x80\xd0\xbe\xd0\xb9\xd0\xba\xd0\xb8 \xd0\xbd\xd0\xb0 \xd0\xb0\xd0\xbb\xd0\xb0\xd1\x80\xd0\xbc\xd0\xb0
GenericName[bs]=Razpore\xc4\x91iva\xc4\x8d osobnih alarma
GenericName[ca@valencia]=Planificador personal per a alarmes
GenericName[ca]=Planificador personal per a alarmes
GenericName[cs]=Osobn\xc3\xad pl\xc3\xa1nova\xc4\x8d alarm\xc5\xaf
GenericName[cy]=Trefnlennydd Larwm Personol
GenericName[da]=Personlig skemal\xc3\xa6gning af alarm
GenericName[de]=Pers\xc3\xb6nliche Termin-Erinnerung
GenericName[el]=\xce\xa0\xcf\x81\xce\xbf\xcf\x83\xcf\x89\xcf\x80\xce\xb9\xce\xba\xcf\x8c\xcf\x82 \xcf\x80\xcf\x81\xce\xbf\xce\xb3\xcf\x81\xce\xb1\xce\xbc\xce\xbc\xce\xb1\xcf\x84\xce\xb9\xcf\x83\xcf\x84\xce\xae\xcf\x82 \xcf\x83\xcf\x85\xce\xbd\xce\xb1\xce\xb3\xce\xb5\xcf\x81\xce\xbc\xcf\x8e\xce\xbd
GenericName[en_GB]=Personal Alarm Scheduler
GenericName[eo]=Persona alarmplanilo
GenericName[es]=Planificador de alarmas personal
GenericName[et]=Meeldetuletuste ajastaja
GenericName[eu]=Alarma pertsonalen programatzailea
GenericName[fa]=\xd8\xb2\xd9\x85\xd8\xa7\xd9\x86\xe2\x80\x8c\xd8\xa8\xd9\x86\xd8\xaf \xd9\x87\xd8\xb4\xd8\xaf\xd8\xa7\xd8\xb1 \xd8\xb4\xd8\xae\xd8\xb5\xdb\x8c
GenericName[fi]=Henkil\xc3\xb6kohtainen h\xc3\xa4lytysajastin
GenericName[fr]=Planificateur d'alarme personnel
GenericName[fy]=Persoanlike alarmplanner
GenericName[ga]=Sceideal\xc3\xb3ir Al\xc3\xa1ram Pearsanta
GenericName[gl]=Programador persoal de alarmas
GenericName[he]=\xd7\x9e\xd7\xa0\xd7\x94\xd7\x9c \xd7\x96\xd7\x9e\xd7\x9f \xd7\x90\xd7\x99\xd7\xa9\xd7\x99
GenericName[hu]=Eml\xc3\xa9keztet\xc5\x91kezel\xc5\x91
GenericName[ia]=Planificator de alarma personal
GenericName[is]=\xc3\x81minningakerfi
GenericName[it]=Programmatore degli avvisi personali
GenericName[ja]=\xe5\x80\x8b\xe4\xba\xba\xe3\x82\xa2\xe3\x83\xa9\xe3\x83\xbc\xe3\x83\xa0\xe3\x82\xb9\xe3\x82\xb1\xe3\x82\xb8\xe3\x83\xa5\xe3\x83\xbc\xe3\x83\xa9
GenericName[ka]=\xe1\x83\x9e\xe1\x83\x94\xe1\x83\xa0\xe1\x83\xa1\xe1\x83\x9d\xe1\x83\x9c\xe1\x83\x90\xe1\x83\x9a\xe1\x83\xa3\xe1\x83\xa0\xe1\x83\x98 \xe1\x83\x9b\xe1\x83\x90\xe1\x83\xa6\xe1\x83\x95\xe1\x83\x98\xe1\x83\xab\xe1\x83\x90\xe1\x83\xa0\xe1\x83\x90\xe1\x83\xa1 \xe1\x83\x9b\xe1\x83\x92\xe1\x83\x94\xe1\x83\x92\xe1\x83\x9b\xe1\x83\x90\xe1\x83\x95\xe1\x83\x98
GenericName[kk]=\xd0\x94\xd0\xb5\xd1\x80\xd0\xb1\xd0\xb5\xd1\x81 \xd0\xb5\xd1\x81\xd0\xba\xd0\xb5\xd1\x80\xd1\x82\xd1\x83\xd0\xbb\xd0\xb5\xd1\x80 \xd0\xb6\xd0\xbe\xd1\x81\xd0\xbf\xd0\xb0\xd1\x80\xd0\xbb\xd0\xb0\xd2\x93\xd1\x8b\xd1\x88\xd1\x8b
GenericName[km]=\xe1\x9e\x80\xe1\x9e\x98\xe1\x9f\x92\xe1\x9e\x98\xe1\x9e\x9c\xe1\x9e\xb7\xe1\x9e\x92\xe1\x9e\xb8\xe2\x80\x8b\xe1\x9e\x80\xe1\x9f\x86\xe1\x9e\x8e\xe1\x9e\x8f\xe1\x9f\x8b\xe2\x80\x8b\xe1\x9e\x98\xe1\x9f\x89\xe1\x9f\x84\xe1\x9e\x84\xe2\x80\x8b\xe1\x9e\x9a\xe1\x9f\x84\xe1\x9e\x91\xe1\x9f\x8d\xe2\x80\x8b\xe1\x9e\x95\xe1\x9f\x92\xe1\x9e\x91\xe1\x9e\xb6\xe1\x9e\x9b\xe1\x9f\x8b\xe2\x80\x8b\xe1\x9e\x81\xe1\x9f\x92\xe1\x9e\x9b\xe1\x9e\xbd\xe1\x9e\x93
GenericName[ko]=\xea\xb0\x9c\xec\x9d\xb8 \xec\x95\x8c\xeb\x9e\x8c \xec\x8a\xa4\xec\xbc\x80\xec\xa4\x84\xeb\x9f\xac
GenericName[lt]=Asmenini\xc5\xb3 \xc5\xbeinu\xc4\x8di\xc5\xb3-priminim\xc5\xb3 planuoklis
GenericName[lv]=Person\xc4\xabgais atg\xc4\x81din\xc4\x81jumu pl\xc4\x81not\xc4\x81js
GenericName[mk]=\xd0\x97\xd0\xb0\xd0\xba\xd0\xb0\xd0\xb6\xd1\x83\xd0\xb2\xd0\xb0\xd1\x9a\xd0\xb5 \xd0\xbb\xd0\xb8\xd1\x87\xd0\xbd\xd0\xb8 \xd0\xb0\xd0\xbb\xd0\xb0\xd1\x80\xd0\xbc\xd0\xb8
GenericName[mr]=\xe0\xa4\xb5\xe0\xa5\x88\xe0\xa4\xaf\xe0\xa4\x95\xe0\xa5\x8d\xe0\xa4\xa4\xe0\xa4\xbf\xe0\xa4\x95 \xe0\xa4\x8f\xe0\xa4\xb2\xe0\xa4\xbe\xe0\xa4\xb0\xe0\xa5\x8d\xe0\xa4\xae \xe0\xa4\xa8\xe0\xa4\xbf\xe0\xa4\xaf\xe0\xa5\x8b\xe0\xa4\x9c\xe0\xa4\x95
GenericName[ms]=Penjadual Penggera Peribadi
GenericName[nb]=Personlig varslingsplanlegger
GenericName[nds]=Pers\xc3\xb6\xc3\xb6nlich Anst\xc3\xb6\xc3\xb6tgever
GenericName[ne]=\xe0\xa4\xb5\xe0\xa5\x8d\xe0\xa4\xaf\xe0\xa4\x95\xe0\xa5\x8d\xe0\xa4\xa4\xe0\xa4\xbf\xe0\xa4\x97\xe0\xa4\xa4 \xe0\xa4\xb8\xe0\xa4\x82\xe0\xa4\xb8\xe0\xa5\x82\xe0\xa4\x9a\xe0\xa4\x95 \xe0\xa4\x85\xe0\xa4\xa8\xe0\xa5\x81\xe0\xa4\xb8\xe0\xa5\x82\xe0\xa4\x9a\xe0\xa4\x95
GenericName[nl]=Persoonlijke alarmplanner
GenericName[nn]=Planleggjar for alarmar/p\xc3\xa5minningar
GenericName[pa]=\xe0\xa8\xa8\xe0\xa8\xbf\xe0\xa9\xb1\xe0\xa8\x9c\xe0\xa9\x80 \xe0\xa8\x85\xe0\xa8\xb2\xe0\xa8\xbe\xe0\xa8\xb0\xe0\xa8\xae \xe0\xa8\xb8\xe0\xa9\x88\xe0\xa8\xa1\xe0\xa8\xbf\xe0\xa8\x8a\xe0\xa8\xb2\xe0\xa8\xb0
GenericName[pl]=Przypominanie o wydarzeniach
GenericName[pt]=Gestor de Alarmes Pessoal
GenericName[pt_BR]=Agendador de alarme pessoal
GenericName[ro]=Programator personal de alarme
GenericName[ru]=\xd0\x9d\xd0\xb0\xd0\xbf\xd0\xbe\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbd\xd0\xb8\xd1\x8f
GenericName[sk]=Osobn\xc3\xbd pl\xc3\xa1nova\xc4\x8d alarmov
GenericName[sl]=Osebni razporejevalnik alarmov
GenericName[sr@ijekavian]=\xd0\xa0\xd0\xb0\xd1\x81\xd0\xbf\xd0\xbe\xd1\x80\xd0\xb5\xd1\x92\xd0\xb8\xd0\xb2\xd0\xb0\xd1\x87 \xd0\xbb\xd0\xb8\xd1\x87\xd0\xbd\xd0\xb8\xd1\x85 \xd0\xb0\xd0\xbb\xd0\xb0\xd1\x80\xd0\xbc\xd0\xb0
GenericName[sr@ijekavianlatin]=Raspore\xc4\x91iva\xc4\x8d li\xc4\x8dnih alarma
GenericName[sr@latin]=Raspore\xc4\x91iva\xc4\x8d li\xc4\x8dnih alarma
GenericName[sr]=\xd0\xa0\xd0\xb0\xd1\x81\xd0\xbf\xd0\xbe\xd1\x80\xd0\xb5\xd1\x92\xd0\xb8\xd0\xb2\xd0\xb0\xd1\x87 \xd0\xbb\xd0\xb8\xd1\x87\xd0\xbd\xd0\xb8\xd1\x85 \xd0\xb0\xd0\xbb\xd0\xb0\xd1\x80\xd0\xbc\xd0\xb0
GenericName[sv]=Personlig alarmschemal\xc3\xa4ggning
GenericName[ta]=Personal Alarm Scheduler
GenericName[tg]=\xd0\x98\xd0\xb4\xd0\xbe\xd1\x80\xd0\xb0\xd0\xba\xd1\x83\xd0\xbd\xd0\xb8\xd0\xb8 \xd1\x85\xd0\xbe\xd1\x82\xd0\xb8\xd1\x80\xd1\x80\xd0\xb0\xd1\x81\xd0\xbe\xd0\xbd\xd0\xb8\xd2\xb3\xd0\xbe\xd0\xb8 \xd1\x88\xd0\xb0\xd1\x85\xd1\x81\xd3\xa3
GenericName[th]=\xe0\xb8\x95\xe0\xb8\xb1\xe0\xb8\xa7\xe0\xb8\x88\xe0\xb8\xb1\xe0\xb8\x94\xe0\xb8\x95\xe0\xb8\xb2\xe0\xb8\xa3\xe0\xb8\xb2\xe0\xb8\x87\xe0\xb9\x81\xe0\xb8\x88\xe0\xb9\x89\xe0\xb8\x87\xe0\xb9\x80\xe0\xb8\x95\xe0\xb8\xb7\xe0\xb8\xad\xe0\xb8\x99\xe0\xb8\xaa\xe0\xb9\x88\xe0\xb8\xa7\xe0\xb8\x99\xe0\xb8\x9a\xe0\xb8\xb8\xe0\xb8\x84\xe0\xb8\x84\xe0\xb8\xa5
GenericName[tr]=Ki\xc5\x9fisel Alarm Zamanlay\xc4\xb1c\xc4\xb1
GenericName[ug]=\xd8\xae\xdb\x87\xd8\xb3\xdb\x87\xd8\xb3\xd9\x89\xd9\x8a \xd8\xae\xdb\x95\xdb\x8b\xdb\x95\xd8\xb1 \xd8\xa8\xdb\x90\xd8\xb1\xd9\x89\xd8\xb4 \xdb\x8b\xd8\xa7\xd9\x82\xd9\x89\xd8\xaa \xd8\xac\xdb\x95\xd8\xaf\xdb\x8b\xd9\x89\xd9\x84\xd9\x89 \xd8\xaa\xdb\x88\xd8\xb2\xda\xaf\xdb\x88\xda\x86
GenericName[uk]=\xd0\x9f\xd0\xb5\xd1\x80\xd1\x81\xd0\xbe\xd0\xbd\xd0\xb0\xd0\xbb\xd1\x8c\xd0\xbd\xd0\xb8\xd0\xb9 \xd0\xbf\xd0\xbb\xd0\xb0\xd0\xbd\xd1\x83\xd0\xb2\xd0\xb0\xd0\xbb\xd1\x8c\xd0\xbd\xd0\xb8\xd0\xba \xd0\xbd\xd0\xb0\xd0\xb3\xd0\xb0\xd0\xb4\xd1\x83\xd0\xb2\xd0\xb0\xd0\xbd\xd1\x8c
GenericName[wa]=Programeu di xh\xc3\xaeletes da sinne
GenericName[x-test]=xxPersonal Alarm Schedulerxx
GenericName[zh_CN]=\xe4\xb8\xaa\xe4\xba\xba\xe6\x97\xa5\xe7\xa8\x8b\xe6\x8f\x90\xe9\x86\x92
GenericName[zh_TW]=\xe5\x80\x8b\xe4\xba\xba\xe9\xac\xa7\xe9\x90\x98\xe6\x8e\x92\xe7\xa8\x8b\xe7\xa8\x8b\xe5\xbc\x8f
Icon=kalarm
MimeType=
Name[en_US]=KAlarm
Name=KAlarm
Name[af]=K-alarm
Name[ar]=\xd9\x85\xd9\x86\xd8\xa8\xd9\x91\xd9\x87\xd9\x83
Name[ast]=KAlarm
Name[be]=KAlarm
Name[bg]=\xd0\x90\xd0\xbb\xd0\xb0\xd1\x80\xd0\xbc\xd0\xb0
Name[br]=KAlarm
Name[bs]=KAlarm
Name[ca@valencia]=KAlarm
Name[ca]=KAlarm
Name[cs]=KAlarm
Name[cy]=KLarwm
Name[da]=KAlarm
Name[de]=KAlarm
Name[el]=KAlarm
Name[en_GB]=KAlarm
Name[eo]=Alarmilo
Name[es]=KAlarm
Name[et]=KAlarm
Name[eu]=KAlarm
Name[fi]=KAlarm
Name[fr]=KAlarm
Name[fy]=KAlarm
Name[ga]=KAlarm
Name[gl]=KAlarm
Name[he]=KAlarm
Name[hr]=KAlarm
Name[hu]=KAlarm
Name[ia]=KAlarm
Name[is]=KAlarm
Name[it]=KAlarm
Name[ja]=KAlarm
Name[ka]=KAlarm
Name[kk]=KAlarm
Name[km]=KAlarm
Name[ko]=KAlarm
Name[lt]=KAlarm
Name[lv]=KAlarm
Name[mk]=\xd0\x9a\xd0\x90\xd0\xbb\xd0\xb0\xd1\x80\xd0\xbc
Name[mr]=\xe0\xa4\x95\xe0\xa5\x87-\xe0\xa4\x8f\xe0\xa4\xb2\xe0\xa4\xbe\xe0\xa4\xb0\xe0\xa5\x8d\xe0\xa4\xae
Name[ms]=KAlarm
Name[nb]=KAlarm
Name[nds]=KAlarm
Name[ne]=\xe0\xa4\x95\xe0\xa5\x87\xe0\xa4\xa1\xe0\xa5\x80\xe0\xa4\x88 \xe0\xa4\xb8\xe0\xa4\x82\xe0\xa4\xb8\xe0\xa5\x82\xe0\xa4\x9a\xe0\xa4\x95
Name[nl]=KAlarm
Name[nn]=KAlarm
Name[pa]=\xe0\xa8\x95\xe0\xa9\x87-\xe0\xa8\x85\xe0\xa8\xb2\xe0\xa8\xbe\xe0\xa8\xb0\xe0\xa8\xae
Name[pl]=KAlarm
Name[pt]=KAlarm
Name[pt_BR]=KAlarm
Name[ro]=KAlarm
Name[ru]=KAlarm
Name[se]=KAlarm
Name[sk]=KAlarm
Name[sl]=KAlarm
Name[sr@ijekavian]=\xd0\x9a\xe2\x80\x91\xd0\xb0\xd0\xbb\xd0\xb0\xd1\x80\xd0\xbc
Name[sr@ijekavianlatin]=K\xe2\x80\x91alarm
Name[sr@latin]=K\xe2\x80\x91alarm
Name[sr]=\xd0\x9a\xe2\x80\x91\xd0\xb0\xd0\xbb\xd0\xb0\xd1\x80\xd0\xbc
Name[sv]=Kalarm
Name[ta]=K\xe0\xae\x85\xe0\xae\xb2\xe0\xae\xbe\xe0\xae\xb0\xe0\xae\xae\xe0\xaf\x8d
Name[tg]=KAlarm
Name[tr]=KAlarm
Name[ug]=KAlarm
Name[uk]=KAlarm
Name[vi]=KAlarm
Name[wa]=KAlarm
Name[x-test]=xxKAlarmxx
Name[xh]=KAlarm
Name[zh_CN]=KAlarm
Name[zh_TW]=KAlarm \xe9\xac\xa7\xe9\x90\x98
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.kalarm
X-DBUS-StartupType=unique
X-DocPath=kalarm/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=
