[Desktop Entry]
Categories=Network;Application;
Comment=Skype Internet Telephony
Encoding=UTF-8
Exec=skype %U
Hidden=true
Icon=skype.png
MimeType=x-scheme-handler/skype;
Name=Skype
Terminal=false
Type=Application
X-KDE-Protocols=skype
