[Desktop Entry]
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
Comment=Multiple terminals in one window
Comment[af]=Veelvuldige terminale in een venster
Comment[ar]=\xd8\xb9\xd8\xaf\xd8\xa9 \xd8\xb7\xd8\xb1\xd9\x81\xd9\x8a\xd8\xa7\xd8\xaa \xd9\x81\xd9\x8a \xd9\x86\xd8\xa7\xd9\x81\xd8\xb0\xd8\xa9 \xd9\x88\xd8\xa7\xd8\xad\xd8\xaf\xd8\xa9
Comment[ast]=Delles terminales nuna ventana
Comment[bg]=\xd0\x9c\xd0\xbd\xd0\xbe\xd0\xb6\xd0\xb5\xd1\x81\xd1\x82\xd0\xb2\xd0\xbe \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbb\xd0\xb8 \xd0\xb2 \xd0\xb5\xd0\xb4\xd0\xb8\xd0\xbd \xd0\xbf\xd1\x80\xd0\xbe\xd0\xb7\xd0\xbe\xd1\x80\xd0\xb5\xd1\x86
Comment[bn]=\xe0\xa6\x8f\xe0\xa6\x95 \xe0\xa6\x89\xe0\xa6\x87\xe0\xa6\xa8\xe0\xa7\x8d\xe0\xa6\xa1\xe0\xa7\x8b\xe0\xa6\xa4\xe0\xa7\x87 \xe0\xa6\x8f\xe0\xa6\x95\xe0\xa6\xbe\xe0\xa6\xa7\xe0\xa6\xbf\xe0\xa6\x95 \xe0\xa6\x9f\xe0\xa6\xbe\xe0\xa6\xb0\xe0\xa7\x8d\xe0\xa6\xae\xe0\xa6\xbf\xe0\xa6\xa8\xe0\xa6\xbe\xe0\xa6\xb2
Comment[bs]=Vi\xc5\xa1e terminala u jednom prozoru
Comment[ca@valencia]=Diversos terminals en una finestra
Comment[ca]=Diversos terminals en una finestra
Comment[cs]=N\xc4\x9bkolik termin\xc3\xa1l\xc5\xaf v jednom okn\xc4\x9b
Comment[da]=Flere terminaler i et vindue
Comment[de]=Mehrere Terminals in einem Fenster
Comment[el]=\xce\xa0\xce\xbf\xce\xbb\xce\xbb\xce\xb1\xcf\x80\xce\xbb\xce\xac \xcf\x84\xce\xb5\xcf\x81\xce\xbc\xce\xb1\xcf\x84\xce\xb9\xce\xba\xce\xac \xcf\x83\xce\xb5 \xce\xad\xce\xbd\xce\xb1 \xcf\x80\xce\xb1\xcf\x81\xce\xac\xce\xb8\xcf\x85\xcf\x81\xce\xbf
Comment[en_AU]=Multiple terminals in one window
Comment[en_CA]=Multiple terminals in one window
Comment[en_GB]=Multiple terminals in one window
Comment[eo]=Pluraj terminaloj en unu fenestro
Comment[es]=M\xc3\xbaltiples terminales en una ventana
Comment[et]=Mitu terminaali \xc3\xbches aknas
Comment[eu]=Hainbat terminal leiho bakarrean
Comment[fa]=\xd9\xbe\xd8\xa7\xdb\x8c\xd8\xa7\xd9\x86\xd9\x87\xe2\x80\x8c\xd9\x87\xd8\xa7\xdb\x8c \xda\xaf\xd9\x88\xd9\x86\xd8\xa7\xda\xaf\xd9\x88\xd9\x86 \xd8\xaf\xd8\xb1 \xdb\x8c\xda\xa9 \xd9\xbe\xd9\x86\xd8\xac\xd8\xb1\xd9\x87
Comment[fi]=Useita p\xc3\xa4\xc3\xa4tteit\xc3\xa4 yhdess\xc3\xa4 ikkunassa
Comment[fr]=Permet d'avoir plusieurs terminaux en une seule fen\xc3\xaatre
Comment[gl]=Varios terminais nunha \xc3\xbanica xanela
Comment[he]=\xd7\x9e\xd7\xa1\xd7\x95\xd7\xa4\xd7\x99\xd7\x9d \xd7\x9e\xd7\xa8\xd7\x95\xd7\x91\xd7\x99\xd7\x9d \xd7\x91\xd7\x97\xd7\x9c\xd7\x95\xd7\x9f \xd7\x90\xd7\x97\xd7\x93
Comment[hi]=\xe0\xa4\x8f\xe0\xa4\x95 \xe0\xa4\xb5\xe0\xa4\xbf\xe0\xa4\x82\xe0\xa4\xa1\xe0\xa5\x8b \xe0\xa4\xae\xe0\xa5\x87\xe0\xa4\x82 \xe0\xa4\xae\xe0\xa4\xb2\xe0\xa5\x8d\xe0\xa4\x9f\xe0\xa5\x80\xe0\xa4\xaa\xe0\xa4\xb2 \xe0\xa4\x9f\xe0\xa4\xb0\xe0\xa5\x8d\xe0\xa4\xae\xe0\xa4\xbf\xe0\xa4\xa8\xe0\xa4\xb2
Comment[hr]=Vi\xc5\xa1e terminala u jednom prozoru
Comment[hu]=T\xc3\xb6bb termin\xc3\xa1l egy ablakban
Comment[id]=Banyak terminal dalam satu window
Comment[is]=Margar \xc3\xbatst\xc3\xb6\xc3\xb0var \xc3\xad einum glugga
Comment[it]=Molteplici terminali un una sola finestra
Comment[ja]=\xe8\xa4\x87\xe6\x95\xb0\xe3\x81\xae\xe7\xab\xaf\xe6\x9c\xab\xe3\x82\x92\xe4\xb8\x80\xe3\x81\xa4\xe3\x81\xae\xe3\x82\xa6\xe3\x82\xa4\xe3\x83\xb3\xe3\x83\x89\xe3\x82\xa6\xe3\x81\xab
Comment[jv]=Akeh terminal ning sak jendelo
Comment[ka]=\xe1\x83\x9b\xe1\x83\xa0\xe1\x83\x90\xe1\x83\x95\xe1\x83\x90\xe1\x83\x9a\xe1\x83\x98 \xe1\x83\xa2\xe1\x83\x94\xe1\x83\xa0\xe1\x83\x9b\xe1\x83\x98\xe1\x83\x9c\xe1\x83\x90\xe1\x83\x9a\xe1\x83\x94\xe1\x83\x91\xe1\x83\x98 \xe1\x83\x94\xe1\x83\xa0\xe1\x83\x97 \xe1\x83\xa4\xe1\x83\x90\xe1\x83\x9c\xe1\x83\xaf\xe1\x83\x90\xe1\x83\xa0\xe1\x83\x90\xe1\x83\xa8\xe1\x83\x98
Comment[kk]=\xd0\x91\xd1\x96\xd1\x80 \xd1\x82\xd0\xb5\xd1\x80\xd0\xb5\xd0\xb7\xd0\xb5 \xd1\x96\xd1\x88\xd1\x96\xd0\xbd\xd0\xb4\xd0\xb5 \xd0\xba\xd3\xa9\xd0\xbf\xd1\x82\xd1\x96\xd0\xba \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbb\xd0\xb4\xd0\xb0\xd1\x80
Comment[ko]=\xec\xb0\xbd \xed\x95\x98\xeb\x82\x98\xec\x97\x90 \xed\x84\xb0\xeb\xaf\xb8\xeb\x84\x90 \xec\x97\xac\xeb\x9f\xac \xea\xb0\x9c \xec\x93\xb0\xea\xb8\xb0
Comment[lt]=Keli terminalai viename lange
Comment[lv]=Daudzi termin\xc4\x81\xc4\xbci vien\xc4\x81 log\xc4\x81
Comment[mk]=\xd0\x9f\xd0\xbe\xd0\xb2\xd0\xb5\xd1\x9c\xd0\xb5 \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbb\xd0\xb8 \xd0\xb2\xd0\xbe \xd0\xb5\xd0\xb4\xd0\xb5\xd0\xbd \xd0\xbf\xd1\x80\xd0\xbe\xd0\xb7\xd0\xbe\xd1\x80\xd0\xb5\xd1\x86
Comment[ml]=\xe0\xb4\x92\xe0\xb4\xb0\xe0\xb5\x81 \xe0\xb4\x9c\xe0\xb4\xbe\xe0\xb4\xb2\xe0\xb4\x95\xe0\xb4\xa4\xe0\xb5\x8d\xe0\xb4\xa4\xe0\xb4\xbf\xe0\xb4\xb2\xe0\xb5\x8d\xe2\x80\x8d \xe0\xb4\x92\xe0\xb4\xa8\xe0\xb5\x8d\xe0\xb4\xa8\xe0\xb4\xbf\xe0\xb4\xb2\xe0\xb4\xa7\xe0\xb4\xbf\xe0\xb4\x95\xe0\xb4\x82 \xe0\xb4\x9f\xe0\xb5\x86\xe0\xb4\xb0\xe0\xb5\x8d\xe2\x80\x8d\xe0\xb4\xae\xe0\xb4\xbf\xe0\xb4\xa8\xe0\xb4\xb2\xe0\xb5\x81\xe0\xb4\x95\xe0\xb4\xb3\xe0\xb5\x8d\xe2\x80\x8d
Comment[ms]=Kesemua terminal dalam satu tetingkap
Comment[nb]=Flere terminaler i et vindu
Comment[nl]=Meerdere terminals in \xc3\xa9\xc3\xa9n venster
Comment[oc]=Permet d'aver mantun terminal dins una sola fen\xc3\xa8stra
Comment[pl]=Wiele terminali w jednym oknie
Comment[pt]=M\xc3\xbaltiplos Terminais numa s\xc3\xb3 janela
Comment[pt_BR]=M\xc3\xbaltiplos terminais em uma janela
Comment[ro]=Terminale multiple \xc3\xaentr-o singur\xc4\x83 fereastr\xc4\x83
Comment[ru]=\xd0\x9d\xd0\xb5\xd1\x81\xd0\xba\xd0\xbe\xd0\xbb\xd1\x8c\xd0\xba\xd0\xbe \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbb\xd0\xbe\xd0\xb2 \xd0\xb2 \xd0\xbe\xd0\xb4\xd0\xbd\xd0\xbe\xd0\xbc \xd0\xbe\xd0\xba\xd0\xbd\xd0\xb5
Comment[si]=\xe0\xb6\x91\xe0\xb6\x9a\xe0\xb7\x8a \xe0\xb7\x80\xe0\xb7\x92\xe0\xb6\xb1\xe0\xb7\x8a\xe0\xb6\xa9\xe0\xb7\x9d\xe0\xb7\x80\xe0\xb6\x9a \xe0\xb6\xa7\xe0\xb6\xbb\xe0\xb7\x8a\xe0\xb6\xb8\xe0\xb7\x92\xe0\xb6\xb1\xe0\xb6\xbd\xe0\xb7\x8a \xe0\xb6\xbb\xe0\xb7\x8f\xe0\xb7\x81\xe0\xb7\x92\xe0\xb6\xba\xe0\xb6\x9a\xe0\xb7\x8a
Comment[sk]=Viacer\xc3\xa9 termin\xc3\xa1ly v jednom okne
Comment[sl]=Ve\xc4\x8d terminalov v enem oknu
Comment[sr]=\xd0\x92\xd0\xb8\xd1\x88\xd0\xb5 \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd0\xbb\xd0\xb0 \xd1\x83 \xd1\x98\xd0\xb5\xd0\xb4\xd0\xbd\xd0\xbe\xd0\xbc \xd0\xbf\xd1\x80\xd0\xbe\xd0\xb7\xd0\xbe\xd1\x80\xd1\x83
Comment[sv]=Flera terminaler i ett f\xc3\xb6nster
Comment[ta]=\xe0\xae\x92\xe0\xae\xb0\xe0\xaf\x81  \xe0\xae\x9a\xe0\xae\xbe\xe0\xae\xb3\xe0\xae\xb0\xe0\xae\xa4\xe0\xaf\x8d\xe0\xae\xa4\xe0\xae\xbf\xe0\xae\xb2\xe0\xaf\x8d \xe0\xae\xaa\xe0\xae\xb2 \xe0\xae\xae\xe0\xaf\x81\xe0\xae\xa9\xe0\xaf\x88\xe0\xae\xaf\xe0\xae\x99\xe0\xaf\x8d\xe0\xae\x95\xe0\xae\xb3\xe0\xaf\x8d
Comment[te]=\xe0\xb0\x92\xe0\xb0\x95\xe0\xb1\x87 \xe0\xb0\xb5\xe0\xb0\xbf\xe0\xb0\x82\xe0\xb0\xa1\xe0\xb1\x8b\xe0\xb0\xb2\xe0\xb1\x8b \xe0\xb0\xac\xe0\xb0\xb9\xe0\xb1\x81\xe0\xb0\xb3 \xe0\xb0\x9f\xe0\xb1\x86\xe0\xb0\xb0\xe0\xb1\x8d\xe0\xb0\xae\xe0\xb0\xbf\xe0\xb0\xa8\xe0\xb0\xb2\xe0\xb1\x8d\xe0\xb0\xb8\xe0\xb1\x8d
Comment[th]=\xe0\xb8\xab\xe0\xb8\xa5\xe0\xb8\xb2\xe0\xb8\xa2\xe0\xb9\x80\xe0\xb8\x97\xe0\xb8\xad\xe0\xb8\xa3\xe0\xb9\x8c\xe0\xb8\xa1\xe0\xb8\xb4\xe0\xb8\x99\xe0\xb8\xb1\xe0\xb8\xa5\xe0\xb9\x83\xe0\xb8\x99\xe0\xb8\xab\xe0\xb8\x99\xe0\xb9\x89\xe0\xb8\xb2\xe0\xb8\x95\xe0\xb9\x88\xe0\xb8\xb2\xe0\xb8\x87\xe0\xb9\x80\xe0\xb8\x94\xe0\xb8\xb5\xe0\xb8\xa2\xe0\xb8\xa7
Comment[tr]=Tek pencerede birden \xc3\xa7ok u\xc3\xa7birim
Comment[uk]=\xd0\x9a\xd1\x96\xd0\xbb\xd1\x8c\xd0\xba\xd0\xb0 \xd1\x82\xd0\xb5\xd1\x80\xd0\xbc\xd1\x96\xd0\xbd\xd0\xb0\xd0\xbb\xd1\x96\xd0\xb2 \xd0\xb2 \xd0\xbe\xd0\xb4\xd0\xbd\xd0\xbe\xd0\xbc\xd1\x83 \xd0\xb2\xd1\x96\xd0\xba\xd0\xbd\xd1\x96
Comment[ur]=\xd8\xa7\xdb\x8c\xda\xa9 \xd8\xaf\xd8\xb1\xdb\x8c\xda\x86\xdb\x92 \xd9\x85\xdb\x8c\xda\xba \xd8\xa7\xdb\x8c\xda\xa9 \xd8\xb3\xdb\x92 \xd8\xb2\xdb\x8c\xd8\xa7\xd8\xaf\xdb\x81 \xd9\xb9\xd8\xb1\xd9\x85\xd9\x86\xd9\x84
Comment[zh_CN]=\xe4\xb8\x80\xe4\xb8\xaa\xe7\xaa\x97\xe5\x8f\xa3\xe9\x87\x8c\xe5\xa4\x9a\xe4\xb8\xaa\xe7\xbb\x88\xe7\xab\xaf
Comment[zh_TW]=\xe4\xb8\x80\xe5\x80\x8b\xe8\xa6\x96\xe7\xaa\x97\xef\xbc\x8c\xe5\xa4\x9a\xe5\x80\x8b\xe7\xb5\x82\xe7\xab\xaf\xe6\xa9\x9f
Exec=terminator
Hidden=true
Icon=terminator
Keywords=terminal;shell;prompt;command;commandline;
Name=Terminator
Name[af]=Terminator
Name[ar]=\xd8\xa7\xd9\x84\xd8\xb7\xd8\xb1\xd9\x81\xd9\x8a\xd8\xa9
Name[ast]=Terminator
Name[bg]=\xd0\xa2\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd1\x82\xd0\xbe\xd1\x80
Name[bn]=\xe0\xa6\x9f\xe0\xa6\xbe\xe0\xa6\xb0\xe0\xa7\x8d\xe0\xa6\xae\xe0\xa6\xbf\xe0\xa6\xa8\xe0\xa7\x87\xe0\xa6\x9f\xe0\xa6\xb0
Name[bs]=Terminator
Name[ca@valencia]=Terminator
Name[ca]=Terminator
Name[cs]=Terminator
Name[da]=Terminator
Name[de]=Terminator
Name[el]=Terminator
Name[en_AU]=Terminator
Name[en_CA]=Terminator
Name[en_GB]=Terminator
Name[eo]=Terminatoro
Name[es]=Terminator
Name[et]=Terminator
Name[eu]=Terminator
Name[fa]=\xd8\xaa\xd8\xb1\xd9\x85\xdb\x8c\xd9\x86\xd8\xa7\xd8\xaa\xd9\x88\xd8\xb1
Name[fi]=Terminator
Name[fo]=Terminator
Name[fr]=Terminator
Name[gl]=Terminator
Name[hi]=\xe0\xa4\x9f\xe0\xa4\xb0\xe0\xa5\x8d\xe0\xa4\xae\xe0\xa4\xbf\xe0\xa4\xa8\xe0\xa5\x87\xe0\xa4\x9f\xe0\xa4\xb0
Name[hr]=Terminator
Name[hu]=Terminator
Name[id]=Terminator
Name[is]=Terminator
Name[it]=Terminator
Name[ja]=\xe7\xab\xaf\xe6\x9c\xab
Name[jv]=Terminator
Name[ka]=Terminator
Name[kk]=\xd0\xa2\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd1\x82\xd0\xbe\xd1\x80
Name[ko]=\xed\x84\xb0\xeb\xaf\xb8\xeb\x84\xa4\xec\x9d\xb4\xed\x84\xb0
Name[lt]=Terminator
Name[lv]=Terminator
Name[mk]=\xd0\xa2\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd1\x82\xd0\xbe\xd1\x80
Name[ml]=\xe0\xb4\x9f\xe0\xb5\x86\xe0\xb4\xb0\xe0\xb5\x8d\xe2\x80\x8d\xe0\xb4\xae\xe0\xb4\xbf\xe0\xb4\xa8\xe0\xb5\x87\xe0\xb4\xb1\xe0\xb5\x8d\xe0\xb4\xb1\xe0\xb4\xb0\xe0\xb5\x8d\xe2\x80\x8d
Name[ms]=Terminator
Name[nb]=Terminator
Name[nl]=Terminator
Name[oc]=Terminator
Name[pl]=Terminator
Name[pt]=Terminator
Name[pt_BR]=Terminator
Name[ro]=Terminator
Name[ru]=Terminator \xe2\x80\x94 \xd1\x80\xd0\xb0\xd0\xb1\xd0\xbe\xd1\x82\xd0\xb0 \xd1\x81 \xd0\xba\xd0\xbe\xd0\xbc\xd0\xb0\xd0\xbd\xd0\xb4\xd0\xbd\xd0\xbe\xd0\xb9 \xd1\x81\xd1\x82\xd1\x80\xd0\xbe\xd0\xba\xd0\xbe\xd0\xb9
Name[ru_RU]=\xd0\xa2\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd1\x82\xd0\xbe\xd1\x80
Name[si]=\xe0\xb6\xa7\xe0\xb6\xbb\xe0\xb7\x8a\xe0\xb6\xb8\xe0\xb7\x92\xe0\xb6\xb1\xe0\xb7\x9a\xe0\xb6\xa7\xe0\xb6\xbb\xe0\xb7\x8a
Name[sk]=Termin\xc3\xa1tor
Name[sl]=Terminator
Name[sr]=\xd0\xa2\xd0\xb5\xd1\x80\xd0\xbc\xd0\xb8\xd0\xbd\xd0\xb0\xd1\x82\xd0\xbe\xd1\x80
Name[sv]=Terminator
Name[ta]=\xe0\xae\xae\xe0\xaf\x81\xe0\xae\xa9\xe0\xaf\x88\xe0\xae\xaf\xe0\xae\xae\xe0\xaf\x8d
Name[te]=\xe0\xb0\x9f\xe0\xb1\x86\xe0\xb0\xb0\xe0\xb1\x8d\xe0\xb0\xae\xe0\xb0\xbf\xe0\xb0\xa8\xe0\xb1\x87\xe0\xb0\x9f\xe0\xb0\xb0\xe0\xb1\x8d
Name[th]=Terminator
Name[tr]=Terminator
Name[uk]=Terminator
Name[ur]=Terminator
Name[zh_CN]=Terminator
Name[zh_TW]=\xe7\xb5\x82\xe7\xab\xaf\xe6\xa9\x9f
StartupNotify=true
TryExec=terminator
Type=Application
X-Ayatana-Desktop-Shortcuts=NewWindow;
X-Ubuntu-Gettext-Domain=terminator

[NewWindow Shortcut Group]
Exec=terminator
Name=Open a New Window
TargetEnvironment=Unity
